<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/add_portfoliobuttonclick" method="post" enctype="multipart/form-data">
<table width="500" border="1">
  <tr>
    <td>Image 1</td>
    <td><label for="textfield"></label>
      <label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /></td>
  </tr>
  <tr>
    <td>Image 2</td>
    <td><label for="textfield2"></label>
      <label for="fileField2"></label>
      <input type="file" name="fileField2" id="fileField2" /></td>
  </tr>
  <tr>
    <td>Image 3</td>
    <td><label for="textfield3"></label>
      <label for="fileField3"></label>
      <input type="file" name="fileField3" id="fileField3" /></td>
  </tr>
  <tr>
    <td height="36">Image 4</td>
    <td><label for="textfield4"></label>
      <label for="fileField4"></label>
      <input type="file" name="fileField4" id="fileField4" /></td>
  </tr>

  <tr>
    <td>Work Type</td>
    <td><label for="textfield7"></label>
      <label for="select"></label>
      <select name="select" id="select">
          <option>Painter</option>
          <option>Plumper</option>
          <option>Electrician</option>
          <option>carpenters</option>
          <option>Roofer</option>
          <option>Glazier</option>
          <option>Welder</option>
          <option>Builders</option>
          <option>Crane operator</option>
          <option>Gas fitters</option>
          <option>Iron workers</option>
          <option>Plasteres</option>
          <option>Sheet metal worker</option>
          <option>Architect</option>
          <option>Civil Engineer</option>
          <option>Contractor</option>
          <option>Flooring installer</option>
          <option>Surveyor</option>
          <option>Tile setter</option>
          <option>Brickmason</option>
          <option>Cost estimator</option>
          <option>Safety manager</option>
          <option>Construction manager</option>
          <option>Equipment operator</option>
          <option>Dry waller</option>
          <option>Isolation worker</option>
          <option>Elevator mechanic</option>
          <option>Interior designer</option>

      </select></td>
  </tr>
  <tr>
    <td>Experience</td>
    <td><label for="textfield8"></label>
      <label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="button" id="button" value="Submit" /></td>
  </tr>
</table>



</form>
</body>
</html>
