<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/add_materialtbuttonclick/{{ id }}" method="post">
<table width="200" border="1">
  <tr>
    <td>Material</td>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>


  <tr>
    <td>Quantity</td>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>


  <tr>
    <td>Details</td>
    <td><label for="textarea"></label>
      <label for="textarea2"></label>
      <textarea name="textarea" id="textarea2" cols="45" rows="5"></textarea></td>

  <tr>
    <td height="26" colspan="2"><input type="submit" name="button" id="button" value="Add" /></td>
    </tr>
</table>
</form>
</body>
</html>

