<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="700" border="1">
  <tr>
    <th>S.no</th>
      <th>Payment type</th>
      <th>Payment date</th>
    <th>Payment mode</th>
      <th>payment status</th>
  </tr>
    {%  for i in data %}
  <tr>
    <td> {{ forloop.counter }}</td>
    <td> {{ i.payment_type }}</td>
    <td> {{ i.payment_date }}</td>
    <td> {{ i.payment_mode }}</td>
  <td>{{ i.payment_status }}</td>
  </tr>
    {%  endfor %}
</table>

</body>
</html>
